name: Notify Google Chat for Renovate PRs

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Eliminamos la restricci贸n de branches para probar con todas
    paths-ignore:
      - '**.md'
  workflow_dispatch: # A帽adido para ejecuci贸n manual

jobs:
  notify-google-chat:
    runs-on: ubuntu-latest
    # Relajamos la condici贸n para depuraci贸n
    if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Debug Actor and Event
        run: |
          echo "Actor: $GITHUB_ACTOR"
          echo "Event Name: $GITHUB_EVENT_NAME"
          echo "Event Path Content: $(cat $GITHUB_EVENT_PATH)"
          echo "Pull Request User: $(cat $GITHUB_EVENT_PATH | jq -r .pull_request.user.login)"
      - name: Send Google Chat Notification
        if: github.actor == 'renovate[bot]' || github.actor == 'renovate-bot' || github.actor == 'Jocasmen94'
        env:
          GOOGLE_CHAT_WEBHOOK_URL: ${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}
        run: |
          PR_TITLE=$(jq -r .pull_request.title "$GITHUB_EVENT_PATH")
          PR_URL=$(jq -r .pull_request.html_url "$GITHUB_EVENT_PATH")
          PR_AUTHOR=$(jq -r .pull_request.user.login "$GITHUB_EVENT_PATH")
          PR_NUMBER=$(jq -r .pull_request.number "$GITHUB_EVENT_PATH")
          PR_CREATED_AT=$(jq -r .pull_request.created_at "$GITHUB_EVENT_PATH" | awk -F'T' '{print $1}')
          MESSAGE=$(cat <<EOF
          {
            "text": " *New Renovate PR*\n**Title:** $PR_TITLE\n**URL:** $PR_URL\n**Author:** $PR_AUTHOR\n**Number:** $PR_NUMBER\n**Created:** $PR_CREATED_AT"
          }
          EOF
          )
          curl -X POST -H "Content-Type: application/json" -d "$MESSAGE" "$GOOGLE_CHAT_WEBHOOK_URL"