name: Notify Google Chat for Renovate PRs

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Eliminamos la restricci칩n de branches para probar con todas
    paths-ignore:
      - '**.md'
  workflow_dispatch: # A침adido para ejecuci칩n manual

jobs:
  notify:
    if: startsWith(github.actor, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Send PR info to Google Chat
        run: |
          curl -X POST -H 'Content-Type: application/json' \
            --data '{
              "text": "游 Renovate cre칩 un nuevo PR:\n\n*<${{ github.event.pull_request.html_url }}|${{ github.event.pull_request.title }}>*"
            }' ${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}